  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #2cc1f3;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

body{
  background-image : linear-gradient(purple, white);
}


nav{
  position:sticky;
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  margin: 10px;
}
.items{
  display: flex;
  list-style: none;
}

body {
  margin: 0px;
  /* min-width: 320px; */
  min-height: 100vh;
}

.container{
  margin-top: 150px;
  color:rgb(243, 238, 238);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
  background-color: inherit;
  justify-content: center;
  padding: 50px;
  display: flex;
  justify-content: center;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #160303;
  background-color: initial;
}
button:hover {
  border-color: #e60b54;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
