:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #2cc1f3;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    margin-top: 200px;
    color: rgb(243, 238, 238);
    /* border: 1px solid blue; */

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    display: flex;
    background-color: inherit;
    /* background-image: url(./images/pexels-quang-nguyen-vinh-222549-2166711.jpg);
    background-repeat: no-repeat; */

    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}