*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.adddetails,label{
    display: block;
    padding: 20px 20px 0px 20px;
}

.adddata{
    /* background-color: green; */
    color:green;
    height: 100vh;
}

.adddetails button{
    margin-top: 10px;
    display: flex;

}

/* .adddetails{
    margin-left: 700px;
    margin-top: 100px;
} */